---
layout: default
title: Blog |
permalink: /blog.html
---
{% include navigation.html %}
{% include blogHeader.html %}

<div class="blog-wrapper">

  {% for post in site.categories.blogpost %}
  <a href="{{ post.url }}"><div class="postprev-container">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content | strip_html | truncatewords: 60 }}</p>
    <div class="postprev-footer">
      <p id="readmore">Read more</p>
      <p>{{ post.date | date_to_string }}</p>
    </div>
  </div></a>
  {% endfor %}

</div>
