.blogPostHeader {
  height:220px;
  // background: $body-bg;
  background: url('../img/main-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media(max-width: 840px){
    height: auto;
    overflow: visible;
    padding-bottom: 20px;
  }

  a {
    position: absolute;
    top: 15px; left: 15px;
    text-decoration: none;
    color: $grey;
    .fa-angle-left{
      margin-right: 3px;
      transition: .2s ease-in-out;
    }
    &:hover{
      color: $white;
    }
    &:hover .fa-angle-left{
      margin-right: 10px;
    }

  }
  h1{
    margin: 60px 0 0 0;
    font-weight: 200;
    color: $white;
    line-height: 1.2em;
    text-align: center;
    @media(max-width: 840px){
      font-size: 1.8em;
      padding: 0 5px;
    }
  }
  p {
    margin: 5px 0 0 0;
    font-weight: 700;
    letter-spacing: 2px;
    color: $green;
  }

}
