.blogPostHeader {
  height:220px;
  background: url('../img/main-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    position: absolute;
    top: 15px; left: 15px;
    text-decoration: none;
    color: $grey;
    .fa-angle-left{
      margin-right: 3px;
      transition: .2s ease-in-out;
    }
    &:hover{
      color: $white;
    }
    &:hover .fa-angle-left{
      margin-right: 10px;
    }

  }
  h1{
    margin: 70px 0 0 0;
    font-weight: 200;
    color: $white;
  }
  p {
    margin: 15px 0 0 0;
    font-weight: 700;
    letter-spacing: 2px;
    color: $green;
  }

}
