footer{
  text-align: center;
  // margin-top: 20px;
  position: absolute;
  bottom: 0; right: 0; left: 0;

  .website-desc{
    background: $box-bg;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    @media(max-width: 605px){
      flex-direction: column;
      height: auto;
      padding: 0;
    }

    p {
      max-width: 260px;
      text-align: left;
      font-weight: 200;
      @media(max-width: 605px){
        text-align: center;
      }
    }

    a {
      background: #43414d;
      width: 120px;
      height: 120px;
      appearance: button;
      text-decoration: none;
      font-weight: 200;
      color: $grey;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: .3s ease-in-out;
      @media(max-width: 605px){
        margin-bottom: 10px;
      }

      &:hover{
        background: rgba(0,0,0,0.07);
        color: lighten($grey, 10%);
        box-shadow: none;
      }

      span{
        padding: 0 10px;

        .fa-github{
          margin-top: 5px;
          font-size: 25px;
        }
      }
    }
  }
  .copyright-container{
    background: $black;
    padding: 1px;

    p {
      color: darken($white, 5%);
      font-weight: 200;
    }
  }

}
